# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*
app/app/__pycache__/__init__.cpython-37.pyc
app/app/__pycache__/settings.cpython-37.pyc
app/app/__pycache__/urls.cpython-37.pyc
app/app/__pycache__/wsgi.cpython-37.pyc
app/core/__pycache__/__init__.cpython-37.pyc
app/core/__pycache__/admin.cpython-37.pyc
app/core/__pycache__/models.cpython-37.pyc
app/core/management/__pycache__/__init__.cpython-37.pyc
app/core/management/commands/__pycache__/__init__.cpython-37.pyc
app/core/management/commands/__pycache__/wait_for_db.cpython-37.pyc
app/core/migrations/__pycache__/__init__.cpython-37.pyc
app/core/migrations/__pycache__/0001_initial.cpython-37.pyc
app/core/migrations/__pycache__/0002_tag.cpython-37.pyc
app/core/migrations/__pycache__/0003_ingredient.cpython-37.pyc
app/core/migrations/__pycache__/0004_recipe.cpython-37.pyc
app/core/migrations/__pycache__/0005_recipe_image.cpython-37.pyc
app/recipe/__pycache__/__init__.cpython-37.pyc
app/recipe/__pycache__/serializers.cpython-37.pyc
app/recipe/__pycache__/urls.cpython-37.pyc
app/recipe/__pycache__/views.cpython-37.pyc
app/user/__pycache__/__init__.cpython-37.pyc
app/user/__pycache__/serializers.cpython-37.pyc
app/user/__pycache__/urls.cpython-37.pyc
app/user/__pycache__/views.cpython-37.pyc
